/* Estilo base */
body {
  font-family: Arial, sans-serif;
  padding: 0.2rem;
}

.quiz-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quiz-form .input-name{
  width: 100%;
  padding: 8px;
  font-size: 1rem;
}

.name-form{
  text-align: center;
}

.start-quiz-btn{
  right: 0;
  margin-top: 1rem;
}

/* Questões */
.quiz-question {
  margin-bottom: 20px;
}

.question-title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

/* Opções */
.options-group {
  display: flex;
  flex-direction: column;
}

.option-label {
  gap: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.option-input {
  margin: 0 !important;
  accent-color: #4CAF50; /* Cor do input de radio quando selecionado */
}

/* Botões de navegação */
.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.prev-btn, .next-btn, .submit-btn, .retry-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev-btn:hover, .next-btn:hover, .submit-btn:hover, .retry-btn:hover {
  background-color: #45a049;
}

/* Responsividade */
@media (max-width: 600px) {
  .quiz-form {
      padding: 15px;
  }

  .question-title {
      font-size: 1rem;
  }

  .option-label {
      font-size: 0.9rem;
  }

  .submit-btn {
      width: 100%;
      padding: 15px;
  }
}

@media (max-width: 480px) {

  .navigation-buttons {
    flex-direction: column;
  }

  .prev-btn, .next-btn {
    margin: 0 auto;
      width: 100%;
      max-width: 10rem;
      margin-bottom: 10px;
  }
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-content h2,
.modal-content p,
.modal-content .close-btn {
  margin-bottom: 1rem;
}

.close-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #45a049;
}

.invisible {
  visibility: hidden; /* Torna o botão invisível mas mantém o espaço ocupado */
}

