
.sobre-bg{
    background-color: #d6d6d6;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sobre-section{
    background-color: #000D23;
    margin: 0 auto;
    padding: 2rem 0.8rem;
    width: 100%;
    max-width: 50rem;
    border-radius: 15px;
    color: #d6d6d6;
}

.sobre-section h2{
    margin: 0;
    padding-bottom: 1.1rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.sobre-section p{
    font-size: 1rem;
    text-align: justify;
    width: 100%;
    max-width: 42rem;
    margin: 0 auto;
}

.sobre-image{
    width: 100%;
    max-width: 42rem;
    display: block;
    margin: 1.2rem auto 0 auto;
    border-radius: 8px;
}

@media (max-width: 768px){

    .sobre-bg{
        background-color: #d6d6d6;
        width: 100%;
        padding: 0;
    }

    .sobre-section{
        border-radius: 0;
    }
}