.presentation-section {
    background-size: cover;
    background-position: center;
    padding: 12vh 1rem 1rem 1rem;
    height: auto;
}

.card-wrapper-explicacao-app{
    display: block;
}

.card-wrapper-apresentacao{
    margin-top: 1rem;
    display: block;
    position: relative;
    float: right;
}

.clear-float{
    clear: both;
}