.series-section {
    padding: 2rem 1rem;
    max-width: 100%;
    overflow: hidden;
}

.section-title {
    text-align: center;
    color: white;
    margin-bottom: 1em;
}

.series-card-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.series-card-wrapper {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    gap: 1em;
    flex-wrap: nowrap;
}
