.footer {
    background-color: #413783;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

@media (max-width: 480px) {
    .footer {
        flex-direction: column;
        gap: 2rem;
    }
}


.ufpb-logo {
    height: 4rem;
}

.developers {
    text-align: right;
    font-size: 1rem;
}

.developers a {
    color: white;
}

.links_footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.links_footer a{
    color: #fff;
    margin-top: 5px;
}
